# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Node
node_modules/
frontend/build/

# Docker
.docker/
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/
*.sublime-*
